/* line 7, ../sass/app.scss */
html {
  height: 100%;
}

/* line 11, ../sass/app.scss */
body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #f4f5f9;
  line-height: 2em;
  background-color: #1d1d1d;
}

/* line 23, ../sass/app.scss */
h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
}

/* line 28, ../sass/app.scss */
ul li {
  display: inline;
  padding: none;
}

/* line 33, ../sass/app.scss */
a {
  text-decoration: none !important;
  color: #f4f5f9;
}

@media screen and (max-width: 775px) {
  /* line 39, ../sass/app.scss */
  article {
    flex-direction: column;
  }
  /* line 42, ../sass/app.scss */
  article p {
    width: auto;
  }
}
/* line 9, ../sass/partials/navPartials/_hamburger.scss */
.skipLinks {
  display: none;
}

/* line 14, ../sass/partials/navPartials/_hamburger.scss */
.navigation {
  margin: 0px 3px;
}

/* line 20, ../sass/partials/navPartials/_hamburger.scss */
.icon {
  display: block;
  width: 20px;
  margin: 0 7px;
  padding: 2px;
  border-bottom: 2px solid #fff;
  border-radius: 1px;
}

/* line 32, ../sass/partials/navPartials/_hamburger.scss */
.sr-only {
  position: absolute;
  overflow: hidden;
  height: 0;
  border: 0;
}

@media screen and (max-width: 768px) {
  /* line 47, ../sass/partials/navPartials/_hamburger.scss */
  .skipLinks {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000;
  }

  /* line 59, ../sass/partials/navPartials/_hamburger.scss */
  button {
    height: 4.5em;
    cursor: normal;
    padding: 0;
    background-color: #3c768c;
    border: none;
  }
}
/* line 13, ../sass/partials/navPartials/_topNav.scss */
header {
  position: relative;
  height: 4em;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #3c768c;
  display: flex;
  flex-direction: row !important;
  webkit-box-shadow: 0 5px 5px -5px #63696f;
  moz-box-shadow: 0 5px 5px -5px #63696f;
  box-shadow: 0 5px 5px -5px #63696f;
}

/* line 29, ../sass/partials/navPartials/_topNav.scss */
.brand {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  height: 1.5em;
  margin: .65em 1em;
  width: 33%;
}

/* line 38, ../sass/partials/navPartials/_topNav.scss */
#nav {
  width: 100%;
}

/* line 41, ../sass/partials/navPartials/_topNav.scss */
#navSpan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

/* line 48, ../sass/partials/navPartials/_topNav.scss */
#navLinks {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 4em;
  width: 50%;
}
/* line 58, ../sass/partials/navPartials/_topNav.scss */
#navLinks li {
  position: relative;
  display: flex;
  width: 8em;
}

/* line 65, ../sass/partials/navPartials/_topNav.scss */
.navLinkA {
  padding-top: .75em;
  text-align: center;
  height: 3.25em;
  width: 100%;
  color: #FCFCFC;
}
/* line 72, ../sass/partials/navPartials/_topNav.scss */
.navLinkA:hover {
  background-color: #94bac9;
  transition: background-color 0.5s ease;
}

/* line 77, ../sass/partials/navPartials/_topNav.scss */
.active {
  background-color: #94bac9;
  transition: background-color 0.5s ease;
}

@media screen and (max-width: 768px) {
  /* line 83, ../sass/partials/navPartials/_topNav.scss */
  .brand {
    font-family: "Open Sans", sans-serif;
    font-size: 1.7em;
    margin: .5em 1em .5em 1em;
    width: 30em;
  }

  /* line 90, ../sass/partials/navPartials/_topNav.scss */
  .show.left {
    -webkit-transform: translate3d(250px, 0, 0);
  }

  /* line 93, ../sass/partials/navPartials/_topNav.scss */
  .left {
    left: -250px;
    background: #3c768c;
  }

  /* line 98, ../sass/partials/navPartials/_topNav.scss */
  #navSpan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* line 105, ../sass/partials/navPartials/_topNav.scss */
  #navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    padding: 0;
    height: 15em;
    width: 100%;
  }
  /* line 114, ../sass/partials/navPartials/_topNav.scss */
  #navLinks li {
    position: relative;
    display: flex;
    width: 100%;
    height: 4em;
  }

  /* line 121, ../sass/partials/navPartials/_topNav.scss */
  .navLinkA {
    padding-top: .75em;
    text-align: center;
    height: 3em;
    width: 100%;
  }

  /* line 128, ../sass/partials/navPartials/_topNav.scss */
  .leftPushNav {
    position: fixed;
    z-index: 3;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    min-height: 528px;
    transition: all 500ms ease-in-out;
    background: #3c768c;
    box-shadow: inset -10px 0 30px -15px #254956;
  }
  /* line 140, ../sass/partials/navPartials/_topNav.scss */
  .leftPushNav a {
    color: white;
  }
}
/* line 16, ../sass/partials/navPartials/_iconList.scss */
#iconList {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 13em;
  justify-content: flex-end;
  height: 4em;
  list-style-type: none;
}

/* line 26, ../sass/partials/navPartials/_iconList.scss */
.iconListA {
  display: flex;
  align-items: center;
  margin: 0;
}

/* line 32, ../sass/partials/navPartials/_iconList.scss */
#linkedIn {
  background: url("https://s3-us-west-2.amazonaws.com/portfolio-hannahdroe/linkedin-logo.svg") center no-repeat;
  background-size: 1.75em  1.75em;
  height: 4em;
  width: 4em;
}
/* line 10, ../sass/partials/navPartials/_iconList.scss */
#linkedIn:hover {
  background-color: #94bac9;
  transition: background-color 0.5s ease;
}

/* line 37, ../sass/partials/navPartials/_iconList.scss */
#bitBucket {
  background: url("https://s3-us-west-2.amazonaws.com/portfolio-hannahdroe/bit-bucket-logo.svg") center no-repeat;
  background-size: 1.75em  1.75em;
  height: 4em;
  width: 4em;
}
/* line 10, ../sass/partials/navPartials/_iconList.scss */
#bitBucket:hover {
  background-color: #94bac9;
  transition: background-color 0.5s ease;
}

/* line 42, ../sass/partials/navPartials/_iconList.scss */
#emailMe {
  background: url("https://s3-us-west-2.amazonaws.com/portfolio-hannahdroe/email.svg") center no-repeat;
  background-size: 1.75em  1.75em;
  height: 4em;
  width: 4em;
}
/* line 10, ../sass/partials/navPartials/_iconList.scss */
#emailMe:hover {
  background-color: #94bac9;
  transition: background-color 0.5s ease;
}

@media screen and (max-width: 768px) {
  /* line 53, ../sass/partials/navPartials/_iconList.scss */
  #iconList {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    height: 4em;
  }
}
/* line 2, ../sass/partials/_index.scss */
#indexBody {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  background-size: 70%;
  height: 100%;
}

/* line 12, ../sass/partials/_index.scss */
#hello {
  line-height: 1.3em;
  position: relative;
  margin-left: 3em;
  font-size: 6em;
  width: 7em;
  height: 2em;
  margin: 1em 0em 0em 1.5em;
}

/* line 22, ../sass/partials/_index.scss */
#home {
  display: flex;
  flex-direction: column;
  margin: 4em 0 0 10em;
}

/* line 28, ../sass/partials/_index.scss */
#whatIDo {
  position: relative;
  width: 30em;
}

/* line 33, ../sass/partials/_index.scss */
#contactMe {
  position: relative;
  margin-top: 1em;
  width: 30em;
}

@media screen and (max-width: 768px) {
  /* line 41, ../sass/partials/_index.scss */
  #hello {
    font-size: 4em;
    width: 4em;
    overflow: none;
  }

  /* line 47, ../sass/partials/_index.scss */
  #home {
    flex-direction: column;
    margin-top: 0;
    width: 80%;
    margin-left: 5em;
  }

  /* line 54, ../sass/partials/_index.scss */
  #whatIDo {
    width: 15em;
  }

  /* line 57, ../sass/partials/_index.scss */
  #contactMe {
    width: 15em;
  }
}
/* line 5, ../sass/partials/_about.scss */
#aboutTitle {
  position: relative;
  margin: 1em 0em 1em 2em;
  font-size: 4em;
}

/* line 11, ../sass/partials/_about.scss */
#aboutArticle {
  position: relative;
  left: 10%;
  margin-top: 2em;
  height: 100%;
  width: 45em;
}

/* line 19, ../sass/partials/_about.scss */
#aboutP #skillSetSect {
  left: 25%;
  width: 100%;
}

/* line 24, ../sass/partials/_about.scss */
.skillSetLi {
  display: list-item;
  list-style-type: none;
}

/* line 28, ../sass/partials/_about.scss */
.skillSetLi:before {
  content: "• ";
  color: #3c768c;
}

/* line 33, ../sass/partials/_about.scss */
#selfPortraitDiv {
  display: block;
  margin-top: 5em;
  text-align: center;
}

/* line 39, ../sass/partials/_about.scss */
#selfPortrait {
  position: relative;
  text-align: center;
  width: 10em;
  height: 10em;
  border: 0.125em solid #3c768c;
  border-radius: .25em;
}

/* line 48, ../sass/partials/_about.scss */
#resumeLink {
  display: block;
  padding-bottom: 1em;
}

@media screen and (max-width: 775px) {
  /* line 53, ../sass/partials/_about.scss */
  #aboutTitle {
    padding-right: 0;
    margin: .25em;
  }

  /* line 58, ../sass/partials/_about.scss */
  #aboutArticle {
    position: relative;
    left: 5%;
    height: 100%;
    width: 16em;
  }
}
/* line 5, ../sass/partials/_portfolio.scss */
main {
  width: 100%;
}

/* line 11, ../sass/partials/_portfolio.scss */
#portfolioTitle {
  margin: 1.7em 0em .5em 2.25em;
  font-size: 2.5em;
}

/* line 19, ../sass/partials/_portfolio.scss */
#portfolioUl {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5em auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* line 35, ../sass/partials/_portfolio.scss */
.portfolioLi {
  width: 33%;
  margin: 0 .25em;
  background-color: #C0C4C6;
}

/* line 44, ../sass/partials/_portfolio.scss */
.portFigure {
  margin: 15px auto 0 auto;
  text-align: center;
}

/* line 51, ../sass/partials/_portfolio.scss */
#rightImg, #centerImg, #leftImg {
  border-radius: .15em;
  height: 175px;
  width: 275px;
}

/* line 61, ../sass/partials/_portfolio.scss */
.listDiv {
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* line 70, ../sass/partials/_portfolio.scss */
  #portfolioUl {
    flex-direction: column;
    margin-left: 10%;
    width: 100%;
  }

  /* line 79, ../sass/partials/_portfolio.scss */
  .portfolioLi {
    width: 80%;
    margin-top: 1.5em;
    margin-right: 0;
    padding-left: .25em;
    border-radius: none;
  }
}
/* line 9, ../sass/partials/_contact.scss */
#contact {
  margin: 1.7em 0em .5em 2em;
  font-size: 2.5em;
}

/* line 17, ../sass/partials/_contact.scss */
form {
  position: relative;
  left: 25%;
  margin-top: 7em;
  height: 100%;
  width: 30em;
}

/* line 27, ../sass/partials/_contact.scss */
fieldset {
  border: 0;
  width: 100%;
}

/* line 33, ../sass/partials/_contact.scss */
#nameDiv, #emailDiv, #messageDiv {
  width: 100%;
}

/* line 40, ../sass/partials/_contact.scss */
label {
  display: none;
}

/* line 47, ../sass/partials/_contact.scss */
input {
  margin-bottom: .75em;
  width: 30em;
  height: 3em;
  border-radius: 3px;
  border: 1px #3c768c solid;
  box-shadow: 0;
}

/* line 60, ../sass/partials/_contact.scss */
textarea {
  height: 5em;
  width: 30em;
  height: 12em;
  border-radius: 3px;
  border: 1px #3c768c solid;
  margin-bottom: .75em;
}

/* line 73, ../sass/partials/_contact.scss */
#antiSpam {
  display: none;
}

/* line 79, ../sass/partials/_contact.scss */
#submit {
  margin-top: 2em;
  display: block;
  width: 10em;
  background-color: #3c768c;
  color: #eee;
  cursor: pointer;
}

/* line 89, ../sass/partials/_contact.scss */
#submit:disabled {
  cursor: default;
  background-color: #91bfd0;
}

/* line 95, ../sass/partials/_contact.scss */
.messageContnr {
  position: relative;
  width: 60%;
  color: #9F6000;
  background-color: #FEEFB3;
  border-radius: .5em;
  margin: .25em .5em 1.25em .5em;
  padding: .5em;
}

/* line 107, ../sass/partials/_contact.scss */
#thankYouMessage {
  height: 10em;
  width: 50%;
  margin: 2em auto;
  padding: 2em;
  text-align: center;
  border-radius: 0.25em;
  background: #94BAC9;
}

@media screen and (max-width: 768px) {
  /* line 137, ../sass/partials/_contact.scss */
  #contact {
    margin: 1em 0em 0em 2em;
    font-size: 2.5em;
  }

  /* line 143, ../sass/partials/_contact.scss */
  fieldset {
    border: 0;
    width: 100%;
    margin-right: 0;
  }

  /* line 151, ../sass/partials/_contact.scss */
  form {
    position: absolute;
    height: 30em;
    width: 23em;
    margin: 2em 0 0 1em;
    left: .5%;
  }

  /* line 162, ../sass/partials/_contact.scss */
  input {
    margin-bottom: .75em;
    width: 75%;
    height: 3em;
    border-radius: 3px;
    padding: 0;
  }

  /* line 174, ../sass/partials/_contact.scss */
  textarea {
    width: 75%;
  }
}
