/* line 9, ../sass/app.scss */
body {
  position: relative;
  font-family: Sans-serif;
  height: 750px;
  margin: 0;
  padding: 0;
  font-size: 0.85em;
  color: #408080;
  background-color: rgba(23, 19, 35, 0.5);
}
/* line 24, ../sass/app.scss */
body h1, body h2 {
  font-weight: lighter;
}

/*Sytles for whole page*/
/* line 31, ../sass/app.scss */
ul li {
  display: inline;
  padding: none;
  list-style: none;
  text-decoration: none;
}

/* line 42, ../sass/app.scss */
a {
  text-decoration: none;
}

@media screen and (max-width: 775px) {
  /* line 52, ../sass/app.scss */
  article {
    flex-direction: column;
  }
  /* line 54, ../sass/app.scss */
  article p {
    width: auto;
  }
}
/* Hamburger menu and Skip Links for Accessability*/
/*Sass variables, also used in _topNav.scss*/
/*Skip to Links*/
/* line 9, ../sass/_hamburger.scss */
.skipLinks {
  display: none;
}

/*Menu Hamburger block*/
/* line 14, ../sass/_hamburger.scss */
.navigation {
  margin: 0px 3px;
}

/*Menu Hamburger Bars*/
/* line 20, ../sass/_hamburger.scss */
.icon {
  display: block;
  width: 20px;
  margin: 0 7px;
  padding: 2px;
  border-bottom: 2px solid #fff;
  border-radius: 1px;
}

/*Screen Reader Only*/
/* line 32, ../sass/_hamburger.scss */
.sr-only {
  position: absolute;
  overflow: hidden;
  height: 0;
  border: 0;
}

/*Media Queries*/
@media screen and (max-width: 775px) {
  /*Skip to Links from*/
  /* line 47, ../sass/_hamburger.scss */
  .skipLinks {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000;
  }

  /* line 58, ../sass/_hamburger.scss */
  button {
    height: 3.8em;
    margin: 0px;
    padding: 0px;
    background-color: #00c4c4;
    border: none;
  }
}
/*Header Nav with Links and Brand. With Media Queries*/
/*Individual Sides Padding*/
/*Padding for all sides*/
/*colors for Navlinks and Header Backgrounds*/
/*Active Link properties */
/*Header*/
/* line 29, ../sass/_topNav.scss */
header {
  height: 4em;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #00c4c4;
}

/*Brand In top left corner*/
/* line 40, ../sass/_topNav.scss */
.brand {
  font-family: Sans-serif;
  font-size: 1.75em;
  float: left;
  margin: .6em 2em .7em 1em;
}
/* line 48, ../sass/_topNav.scss */
.brand:active {
  color: #d5eaea;
}

/*Top Nav*/
/* line 55, ../sass/_topNav.scss */
nav {
  font-size: 1.175em;
  float: left;
  margin-top: 1em;
}

/*Top Nav Links*/
/* line 68, ../sass/_topNav.scss */
.navLinks,
.leftPushNav {
  display: inline;
}
/* line 71, ../sass/_topNav.scss */
.navLinks a,
.leftPushNav a {
  margin-right: -0.6em;
  padding: 1em 1.25em 1.3em 1.25em;
}
/* line 75, ../sass/_topNav.scss */
.navLinks a:hover,
.leftPushNav a:hover {
  color: #d5eaea;
  background-color: #4b6f6f;
  transition: background-color 0.5s ease;
}

/* line 83, ../sass/_topNav.scss */
.active li {
  padding: 1em 1.25em 1.3em 1.25em;
}
/* line 87, ../sass/_topNav.scss */
.active a {
  color: #d5eaea;
  background-color: #4b6f6f;
  transition: background-color 0.5s ease;
}

/*Media Queries*/
@media screen and (max-width: 775px) {
  /* line 98, ../sass/_topNav.scss */
  .show.left {
    -webkit-transform: translate3d(250px, 0, 0);
  }

  /* line 102, ../sass/_topNav.scss */
  .left {
    left: -250px;
    background: #4b6f6f;
  }

  /* line 111, ../sass/_topNav.scss */
  nav li {
    display: block;
    padding: 1em 1.25em 1.3em 1.25em;
  }

  /* line 118, ../sass/_topNav.scss */
  .leftPushNav {
    position: fixed;
    z-index: 3;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    min-height: 528px;
    padding: 10px 0 0 0;
    transition: all 500ms ease-in-out;
    background: #4b6f6f;
    box-shadow: inset -10px 0 30px -15px #2c4141;
  }
  /* line 134, ../sass/_topNav.scss */
  .leftPushNav a {
    color: #5eafaf;
  }
}
/* line 20, ../sass/_iconList.scss */
#iconList {
  position: relative;
  display: inline;
  height: 100%;
}

/* line 29, ../sass/_iconList.scss */
#linkedIn {
  background: url("../images/linkedIn.svg") center;
  position: relative;
  height: 4em;
  padding: 1.5em 1.2em 1.3em 1.2em;
  background-repeat: no-repeat;
  background-size: 1.3em 1.3em;
  margin: .4em .3em 1em .3em;
  float: clearfix;
}
/* line 34, ../sass/_iconList.scss */
#linkedIn:hover {
  background-color: #0077b5;
}

/* line 41, ../sass/_iconList.scss */
#bitBucket {
  background: url("../images/bitbucket-512px.svg") center;
  position: relative;
  height: 4em;
  padding: 1.5em 1.2em 1.3em 1.2em;
  background-repeat: no-repeat;
  background-size: 1.3em 1.3em;
  margin: .4em .3em 1em .3em;
  float: clearfix;
  background-size: 1.4em 1.4em;
}
/* line 50, ../sass/_iconList.scss */
#bitBucket:hover {
  background-color: #205081;
}

/* line 55, ../sass/_iconList.scss */
#emailMe {
  background: url("../images/mail.svg") center;
  position: relative;
  height: 4em;
  padding: 1.5em 1.2em 1.3em 1.2em;
  background-repeat: no-repeat;
  background-size: 1.3em 1.3em;
  margin: .4em .3em 1em .3em;
  float: clearfix;
  background-size: 1.5em 1.5em;
}
/* line 64, ../sass/_iconList.scss */
#emailMe:hover {
  background-color: #AA3939;
}

@media screen and (max-width: 775px) {
  /* line 72, ../sass/_iconList.scss */
  #iconList {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  /* line 79, ../sass/_iconList.scss */
  #linkedIn {
    margin: 0em -1em 0em 0.25em;
    background-color: none;
  }
  /* line 82, ../sass/_iconList.scss */
  #linkedIn:hover {
    background-color: #4b6f6f;
  }

  /* line 86, ../sass/_iconList.scss */
  #bitBucket {
    margin: 0em -2em 0em -2em;
  }
  /* line 88, ../sass/_iconList.scss */
  #bitBucket:hover {
    background-color: #4b6f6f;
  }

  /* line 92, ../sass/_iconList.scss */
  #emailMe {
    margin: 0em -2em 0em -2em;
  }
  /* line 95, ../sass/_iconList.scss */
  #emailMe:hover {
    background-color: #4b6f6f;
  }
}
/* line 18, ../sass/_homeContent.scss */
article {
  position: relative;
  width: auto;
  height: auto;
  line-height: 1.3em;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 3em;
  color: #eee;
}
/* line 26, ../sass/_homeContent.scss */
article p {
  width: 30em;
  margin-right: 5em;
}

/* line 34, ../sass/_homeContent.scss */
#hello {
  line-height: 1.3em;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 3em;
  color: #eee;
  font-size: 7em;
  width: 7em;
  height: 2em;
  margin: 1em 0em 0em 1em;
}

/* line 3, ../sass/_aboutContent.scss */
#aboutTitle {
  margin: 1.7em 0em .5em 2em;
  font-size: 2.5em;
}

/* line 10, ../sass/_aboutContent.scss */
#aboutSection {
  width: 80%;
  margin: 2em;
  font-size: 1.3em;
  line-height: 1.4em;
}

/* line 3, ../sass/_portfolioContent.scss */
#portfolioTitle {
  margin: 1.7em 0em .5em 2em;
  font-size: 2.5em;
}
