/*Individual Sides Padding*/
$topPadding: 1em;
$RightPadding: 1.5em;
$BottomPadding: 1.25em;
$LeftPadding: 1.5em;

/*Padding for all sides*/
$iconListPadding: $topPadding $RightPadding $BottomPadding $LeftPadding;

$headerHeight: 4em;

@mixin imageMixin {
	height: $headerHeight;
	width: 3em;
}

#iconList {
	display: inline;
	float: right;
	z-index: 4;
}

#linkedIn {
	@include imageMixin;
	background-image: "images/linkedIn.svg"
}

#bitBucket {
	@include imageMixin;
	background-image: "images/bitbucket-512px.svg"
}