
$headerHeight: 4em;



@mixin imageMixin
{
    position: relative;

    height: $headerHeight;
    padding: 1.5em 1.5em 1.3em 1.5em;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    margin: 0 .5em 1em 1em;
}

#iconList
{
    display: inline;
    
    height: 100%;
    margin: none;
}

#linkedIn
{
    background: url('../images/linkedIn.svg') center;

    @include imageMixin;
    &:hover
    {
        background-color: #0077b5;

    }
}

#bitBucket
{
    background: url('../images/bitbucket-512px.svg') center;

    @include imageMixin;
    &:hover
    {
        background-color: #205081;

    }
}

@media screen and (max-width: 775px)
{
	#iconList{
		display: block !important;
	}
}
