
$headerHeight: 4em;
$linkBackground: #4b6f6f;


@mixin imageMixin
{
    position: relative;

    height: $headerHeight;
    padding: 1.5em 1.2em 1.3em 1.2em;
    background-repeat: no-repeat;
    background-size: 1.3em 1.3em;
    margin: .4em .3em 1em .3em;
    float: clearfix;

}

#iconList
{
    position: relative;
    display: inline;
    
    height: 100%;

}

#linkedIn
{
    background: url('../images/linkedIn.svg') center;

    @include imageMixin;
    &:hover
    {
        background-color: #0077b5;

    }
}

#bitBucket
{
    background: url('../images/bitbucket-512px.svg') center;

    @include imageMixin;

    background-size: 1.4em 1.4em;


    &:hover
    {
        background-color: #205081;

    }
}
#emailMe{
    background: url('../images/mail.svg') center;


    @include imageMixin;

    background-size: 1.5em 1.5em;

    &:hover
    {
        background-color: #AA3939;

    }
}

@media screen and (max-width: 775px)
{
	#iconList{
		display: flex;
        flex-direction: row;
        padding:0;
        margin: 0;

	}
    #linkedIn{
        margin: 0em -1em 0em .25em;
        background-color: none;
        &:hover{
        background-color: $linkBackground;
        }
    }
    #bitBucket{
        margin: 0em -2em 0em -2em;
        &:hover{
        background-color: $linkBackground;
        }
    }
    #emailMe{

    margin: 0em -2em 0em -2em;
        &:hover{
        background-color: $linkBackground;
        }
    }
}

