/*Header Nav with Links and Brand. With Media Queries*/

$headerHeight: 4em;

/*Individual Sides Padding*/
$topPadding: 1em;
$RightPadding: 1.5em;
$BottomPadding: 1.25em;
$LeftPadding: 1.5em;

/*Padding for all sides*/
$navLinkPadding: $topPadding $RightPadding $BottomPadding $LeftPadding;

/*colors for Navlinks and Header Backgrounds*/
$linkBackground: #4b6f6f;
$headerBackground: #00c4c4;

/*Active Link properties */
@mixin activeLink
{
    color: lighten($mainFontColor, 50%);
    background-color: $linkBackground;
}



/*Header*/
header
{
    height: $headerHeight;
    margin: 0;
    padding: 0;

    background-color: $headerBackground;
}

/*Brand In top left corner*/
.brand
{
    font-family: $mainFont;
    font-size: 1.75em;

    float: left;

    margin: .6em 2em .7em 1em;
    &:active
    {
        color: lighten($mainFontColor, 50%);
    }
}

/*Top Nav*/
#nav
{
    font-size: 1.175em;

    float: left;

    margin-top: 1em;
}

/*Top Nav Links*/
.navLinks,
.leftPushNav
{
    display: inline;
    a
    {
        margin-right: -.5em;
        padding: $navLinkPadding;
        &:hover
        {
            @include activeLink;
        }
    }
}
.active
{
    li
    {
        padding: $navLinkPadding;
    }
    a
    {
        @include activeLink;
    }
}



/*Media Queries*/
@media screen and (max-width: 675px)
{
    .show.left
    {
        -webkit-transform: translate3d(250px, 0, 0);
    }
    .left
    {
        left: -250px;

        background: $linkBackground;
    }

    nav
    {
        li
        {
            display: block;

            padding: $navLinkPadding;
        }
    }
    .leftPushNav
    {
        position: fixed;
        top: 0;
        left: -250px;

        width: 250px;
        height: 100%;
        min-height: 528px;
        padding: 10px 0 0 0;

        transition: all 500ms ease-in-out;

        background: $linkBackground;
        box-shadow: inset -10px 0 30px -15px darken($linkBackground, 15%);
        a
        {
            color: lighten($mainFontColor, 15%);
        }
    }
}
