/*Header Nav with Links and Brand. With Media Queries*/

$header-height: 4em;
$navLinkPadding: 1em 1.50em 1.25em 1.50em;

@mixin activeLink
{
    color: lighten($mainFontColor, 40%);
    background-color: #4b6f6f;
}



/*Header*/
header
{
    height: $header-height;
    margin: 0;
    padding: 0;

    background-color: #00c4c4;
}

/*Brand In top left corner*/
.brand
{
    font-family: $mainFont;
    font-size: 1.75em;

    float: left;

    margin: .6em 2em .7em 1em;
    &:active
    {
        color: lighten($mainFontColor, 50%);
    }
}

/*Top Nav*/
#nav
{
    font-size: 1.175em;

    float: left;

    margin-top: 1em;
}

/*Top Nav Links*/
.navLinks
{
    display: inline;
    a
    {
        margin-right: -.5em;
        padding: $navLinkPadding;
        &:hover
        {
            @include activeLink;
        }
    }
}
.active
{
    li
    {
        padding: $navLinkPadding;
    }
    a
    {
        @include activeLink;
    }
}


/*Media Queries*/
@media screen and (max-width: 675px)
{
.navLinks > div.show.left{
    -webkit-transform: translate3d(250px, 0, 0);
}
.navLinks > div.left {
    background: #273D7A;
    left: -250px;
}

.navLinks > div {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 250px;
    height: 100%;
        transition: transform ease 250ms;
}
div{
    display: block;
}
}