
$mainFont: monospace;

$mainFontColor:#408080;

$mainFontSize: 1.2em;


/*Sytles for whole page*/
ul li {
	list-style: none;
	text-decoration: none;
	display:inline;
	padding: none;
}

a {
	text-decoration: none;	
}

body{

	font-family: $mainFont;
	color: $mainFontColor;
	padding: 0;
	margin: 0;
}


#home{
	height: 1000px;
	width: 100%;
	background-color: rgba(23.5, 19.6, 35.7, 0.5);

}

@import "_hamburger.scss";
@import "_topNav.scss";


