
$mainFont: monospace;
$mainFontColor: #408080;
$mainFontSize: 1.5em;

body
{

    position: relative;
    font-family: $mainFont;
    height: 750px;

    margin: 0;
    padding: 0;

    color: $mainFontColor;
    background-color: rgba(23.5, 19.6, 35.7, .5);
    h2
    {
        font-weight: lighter;
    }
}

@mixin contentPosition
{
    line-height: 1.4em;

    position: relative;
    margin: 5em;

    display: flex;
    flex-direction: row;
    
    height: auto;

    color: #eee;
}

/*Sytles for whole page*/
ul li
{
    display: inline;

    padding: none;

    list-style: none; 

    text-decoration: none;
}

a
{
    text-decoration: none;
}

article
{
    width: auto;
    height: auto;
    position: relative;

    top: 25%;
    

    @include contentPosition;

    p
    {
        width: 30em;
        margin-right: 5em;
    }
}


@import '_hamburger.scss';
@import '_topNav.scss';

@media screen and (max-width: 675px)
{
    article
    {
        flex-direction: column;
        p{
            width: auto;
        }
    
    }
}
