// Hamburger menu and Skip Links for Accessability

//Sass variables, also used in _topNav.scss
$headerHeight: 4em;


//Skip to Links
.skipLinks
{
    display: none;
}
//Menu Hamburger block
.navigation
{
    margin: 0px 3px;
}

//Menu Hamburger Bars
.icon
{
    display: block;

    width: 20px;
    margin: 0 7px;
    padding: 2px;

    border-bottom: 2px solid #fff;
    border-radius: 1px;
}
//Screen Reader Only
.sr-only
{
    position: absolute;

    overflow: hidden;

    height: 0;

    border: 0;
}

//Media Queries
@media screen and (max-width: 768px)
{
    //Skip to Links from
    .skipLinks
    {
        display: block;
        float: left;

        margin: 0;
        padding: 0;

        list-style: none;

        color: #000;
    }
    //Hamburger button
    button{

        height: 4.75em;
        cursor: normal;
        padding:0;
        background-color: #3C768C;
        border: none;
        padding-bottom: .5em;
    
    }
}