

//Variables
$headerHeight: 4em;
    
    // Mixin for icons
@mixin imageMixin
{
    position: relative;

    height: $headerHeight;
    padding: 1.5em 1.2em 1.3em 1.2em;
    background-repeat: no-repeat;
    background-size: 1.3em 1.3em;
    margin: .4em .3em 1em .3em;
    float: clearfix;

    list-style: none; 

}
// list that holds the icons
#iconList
{
    position: relative;
    display: inline;

    list-style: none; 
    
    
    height: 100%;

}

// LinkedIn icon
#linkedIn
{
    background: url('../images/linkedIn.svg') center;

    @include imageMixin;
    &:hover
    {
        background-color: #0077b5;

    }
}

// Bit Bucket icon
#bitBucket
{
    background: url('../images/bitbucket-512px.svg') center;

    @include imageMixin;

    background-size: 1.4em 1.4em;


    &:hover
    {
        background-color: #205081;

    }
}

// Email icon
#emailMe{
    background: url('../images/mail.svg') center;


    @include imageMixin;

    background-size: 1.5em 1.5em;

    &:hover
    {
        background-color: #AA3939;

    }
}

//Icons are moved in the navbar that slides from the left
@media screen and (max-width: 768px)
{
    //list that holds the icons
	#iconList
    {

        position: relative;
		display: inline-block;
        padding: 1em 0;
       
        
        // List items (the icons)
        li
        {
            padding: 1em;
          

        }  

	}

    // LinkedIn icon
    #linkedIn{
    
        &:hover
        {
        background-color: $linkBackground;

        }

    }

    // Bit Bucket Icon
    #bitBucket{
        
        background-color: none;

        &:hover
        {
        background-color: $linkBackground;
        }
        
    }

    // Email icon
    #emailMe{

        background-color: none;

        &:hover
        {
        background-color: $linkBackground;

        }
        
    }
}

