// Header Nav with Links and Brand. With Media Queries 

$headerHeight: 4em;


// Padding for all sides 
$navLinkPadding: 1em 1em 1.3em 1em;

// colors for Navlinks and Header Backgrounds !!! If these are changed also change colors in _hamburger.scss (background of button) and _portfolioContent.scss (background of boxes)
$linkBackground: #94BAC9;
$headerBackground: #3C768C;
$linkColor: #fff;

// Active Link properties
@mixin activeLink
{
    color: $linkColor;
    background-color: $linkBackground;
    transition: background-color 0.5s ease;
 }


// Header 
header
    {
    position: static;
    height: $headerHeight;
    width: 100% ;
    margin: 0;
    padding: 0;

    display: flex;

    background-color: $headerBackground;

    webkit-box-shadow: 0 5px 5px -5px #777;
        moz-box-shadow: 0 5px 5px -5px #777;
            box-shadow: 0 5px 5px -5px #777;


}

// Brand In top left corner 
.brand
{
    font-family: $mainFont;
    font-size: 1.7em;

   

    margin: .5em 1em .5em 1em;

    color: $linkColor;
}

// Top Nav 
nav
{
    font-size: 1.175em;

    float: left;

    margin-top: 1em;


}


// Top Nav Links 
.navLinks,
.leftPushNav
{
    display: inline;
    text-decoration: none;
    
}

//Navigation Link A's
.navLinkA
    {
        margin-left: -.3em;
        padding: $navLinkPadding;

        &:hover
        {
            @include activeLink;
        }
    }

// Top Nav link when clicked
.active
{
    @include activeLink;
    padding: $navLinkPadding;

    
    
}

// Media Queries 
@media screen and (max-width: 768px)
{

    // When slide navigation is visible 
    .show.left
    {
        -webkit-transform: translate3d(250px, 0, 0);
    }
    .left
    {
        left: -250px;

        background: $linkBackground;
    }

    // Top Nav 
    nav
    {
        font-size: 1em;
        font-weight: bold;
     
    }

     .navLinkA
       {
            display: block;
            padding: 1em;
            margin-left: .75em;

        }

    // Brand In top left corner 
    .brand
    {
        font-family: $mainFont;
        font-size: 1.7em;

       

        margin: .5em 1em .5em 1em;

        color: $linkColor;
    }

    // Top Nav Links for  
    .leftPushNav
    {
        position: fixed;
        z-index: 3;
        top: 0;
        left: -250px;

        width: 250px;
        height: 100%;
        min-height: 528px;
        padding: 10px 0 0 0;

        transition: all 500ms ease-in-out;

        background: $linkBackground;
        box-shadow: inset -10px 0 30px -15px darken($linkBackground, 15%);
        
        a
        {
            color: lighten($mainFontColor, 15%);
        }
    }
}
