
$aboutSize: 1.2em;

// Page header
#aboutTitle
{
	position: relative;
	margin: 1.7em 0em .5em 2em;

	font-size: 2.5em;

}
//about Article
#aboutArticle{
	position: relative;
	left: 26%;
	margin-top: 2em;
	height: 100%;
	width: 30em;
	
	line-height: 1.4em;

	font-size: $aboutSize
}

//About article contents
#aboutP #skillSetSect

{
	left: 25%;
	width: 100%;
}

// Skillset List items
.skillSetLi
{
	display: list-item;
	list-style-type: circle;
}

@media screen and (max-width: 775px)
{
	#aboutTitle
	{
		padding-right: 0;	
		margin: .25em;

	}
	//about Article
	#aboutArticle
	{
		position: relative;
		left: 5%;

		height: 100%;
		width: 16em;
		
	}

	
	
}