$inputWidth: 30em;
$inputHeight: 3em;
$boarderRadius: 3px;


#contact
{
	margin: 1.7em 0em .5em 2em;

	font-size: 2.5em;
}


form
{
	position: relative;
	left: 25%;
	height: 50em;
	width: $inputWidth;
}

fieldset
{
	margin-top: 20%;
	border: 0;
}

label
{
	display: none;
}
input
{
	margin-bottom: .75em;
	width: $inputWidth;
	height: $inputHeight;
	border-radius: $boarderRadius;
	border: 1px #2E4172 solid;

	box-shadow: 0;
	
}



textarea
{
	height: 5em;
	width: $inputWidth;
	height: 12em;
	border-radius: $boarderRadius;
	border: 1px #2E4172 solid;

}

#antiSpam
{
	display: none;
}

#submitBtn
{
	margin-top: 2em;
	display: block;
	width: 10em;
	background-color: #2E4172;
	color: #eee;
	
}

.messageContnr {
	color: #D4CB6A;
	margin: 0em 0em 1em 0em;
	

}

@media screen and (max-width: 775px)
{
	$inputWidth: 85%;
	$inputHeight: 3em;


	form
	{
		position: relative;
		left: 5%;
		height: 50em;
		width: $inputWidth;
		right: .5%;
		margin-right: 0;
	}

	input
	{
		margin-bottom: .75em;
		width: $inputWidth;
		height: $inputHeight;
		border-radius: $boarderRadius;
		padding: 0;


	}
	textarea
	{
		width: $inputWidth;
	}
}

@media screen and (max-width: 775px)
{
	$inputWidth: 85%;
	$inputHeight: 3em;


	form
	{
		position: relative;
		left: 2%;
		height: 50em;
		width: $inputWidth;
		right: 0;
		margin-right: 0;
	}
}