 $inputWidth: 30em;
$inputHeight: 3em;
$boarderRadius: 3px;

$formColor: #2E4172;

//Page Header
#contact
{
	margin: 1.7em 0em .5em 2em;

	font-size: 2.5em;
}

// The whole contact form area
form
{
	position: relative;
	left: 25%;
	margin-top: 7em;
	height: 100%;
	width: $inputWidth;
}

// To clear out the default boarder of form
fieldset
{
	border: 0;
	width: 100%;
}

// Form Div
#nameDiv, #emailDiv, #messageDiv{
	width: 100%;
}


// Lables that are usually on the top or left side of input
label
{
	display: none;

}

// Name and Email boxes
input
{
	margin-bottom: .75em;
	width: $inputWidth;
	height: $inputHeight;
	border-radius: $boarderRadius;
	border: 1px $formColor solid;

	box-shadow: 0;
	
}

//Message box
textarea
{
	height: 5em;
	width: $inputWidth;
	height: 12em;
	border-radius: $boarderRadius;
	border: 1px $formColor solid;
	margin-bottom: .75em;


}
//hidden input to catch bots

#antiSpam
{
	display: none;
}

//Send button
#submit
{
	margin-top: 2em;
	display: block;
	width: 10em;
	background-color: $formColor;
	color: #eee;
	cursor: pointer;
	
}

//Styles for invalid inputs
.messageContnr {
	position: relative;
	width: 60%;
	color: #9F6000;
    background-color: #FEEFB3;
    border-radius: .5em;
    margin:.25em .5em 1.25em .5em;
    padding: .5em;

}

// Div container for thank you after click Send
#thankYouMessage{

	height: 10em;
	width: 50%;

	margin: 2em auto;

	padding: 2em;
	
	text-align: center;
	border-radius: 0.25em;

	background: #94BAC9;
	
	
}

// Thank you Message
#thanksP{


}
@media screen and (max-width: 768px)
{
	//variables 
		$inputWidth: 75%;
		$inputHeight: 3em;

	//Page Header
		#contact
		{
			margin: 1em 0em 0em 2em;

			font-size: 2.5em;
		}
		fieldset
		{
			border: 0;
			width: 100%;
			margin-right: 0;

		}
	// The whole contact form area
		form
		{
			position: absolute;
			height: 30em;
			width: 23em;
			margin: 2em 0 0 1em;
			left: .5%;
			}


	// Name and Email boxes
		input
		{
			margin-bottom: .75em;
			width: $inputWidth;
			height: $inputHeight;
			border-radius: $boarderRadius;
			padding: 0;


		}

	//Message box
		textarea
		{
			width: $inputWidth;
		}
}


