

@mixin contentPosition
{
    line-height: 1.3em;

    position: relative;
    margin-left: 3em;

    
}


#home
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin: 4em 0 0 5em;

    p
    {
        width: 30em;
        margin-right: 5em;
        align-content: flex-end;

    }
}


#hello /* It's me */
{
    @include contentPosition;
    font-size: 6em;

    width: 7em;
    height: 2em;

    margin: 1em 0em 0em 1em;
    

    
}
