
#indexBody {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    background-size: 70%;
    height: 100%;
}
// Top Greeting
#hello // It's me
{
    line-height: 1.3em;
    position: relative;
    margin-left: 3em;
    font-size: 6em;
    width: 7em;
    height: 2em;
    margin: 1em 0em 0em 1.5em;
}
// article that holds Who I am and Contact paragraphs
#home {
    display: flex;
    flex-direction: column;
    margin: 4em 0 0 10em;
}
//Who I am and Contact
#whatIDo {
    position: relative;
    width: 30em;
    
}
#contactMe {
    position: relative;
    margin-top: 1em;
    width: 30em;
}
@media screen and (max-width:768px) {
    // Top Greeting
    #hello // It's me 
    {
        font-size: 4em;
        width: 4em;
        overflow: none;
    }
    // article that holds Who I am and Contact paragraphs
    #home {
        flex-direction: column;
        margin-top: 0;
        width: 80%;
        margin-left: 5em;
    }
    //Who I am and Contact
    #whatIDo {
        width: 15em;
    }
    #contactMe {
        width: 15em;
    }
}