
// placeholder color for portfolio img areas
$headerBackground: #3C768C;

// Portfolio header
#portfolioTitle
{
	margin: 1.7em 0em .5em 2.25em;

	font-size: 2.5em;
}

//Portfolio article that contains portfolio sections
#portfolioArt
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5em 1em;
}

//Portfolio porjects' links/ images
.portfolioSect
{	
	height: 200px;
	width: 250px;
	background-color: $headerBackground;
	margin-right: 3em;
	border-radius: .25em;
	 
}
// Right section image
#rightSect{
	margin-right: 0;
}

@media screen and (max-width: 768px)
{

	//Portfolio article that contains portfolio sections
	#portfolioArt
	{
		flex-direction: column;
		margin-left: 10%;
		width: 80%;
	}

	//Portfolio porjects' links/ images
	.portfolioSect
	{
		width: 100%;
		margin-top: 1.5em;
		margin-right: 0;
		padding-left: .25em;
		border-radius: none;
	}

}